.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* 
.App-link {
  color: #61dafb;
} */

footer {
  display: flex;
  background-color: #1750ac;
  align-items: center;
  justify-content: center;
}

.actualicon {
  width: 150px;
}

.footer {
  max-width: 1500px;
  min-height: 150px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Oswald';
  gap: 15px;
  text-align: center;
}

.credits, .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
}

.sitemap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.brand {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
  padding: 10px;
}

.credits {
  flex-flow: column;
  margin: 15px;
}

.footer.credits p{
  text-align: left;
}

.footerlogo {
  margin: 20px;
}


.socials{
  display: flex;
  flex-flow: column;
  margin: 15px;
}

.social {
  font-size: 30px;
  margin: 0px 7.5px;
}

.footer p {
  margin: 0px;
}

.trademarkphrase {
  font-size: 60px;
}


@media screen and (min-width: 380px) {
  .App {
    text-align: center;
  }

  /* 
  .App-link {
    color: #61dafb;
  } */

  footer {
    display: flex;
    background-color: #1750ac;
    align-items: center;
    justify-content: center;
  }

  .actualicon {
    width: 150px;
  }

  .footer {
    max-width: 1500px;
    min-height: 150px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    color: white;
    font-weight: 600;
    font-family: 'Oswald';
    gap: 15px;
    text-align: center;
  }

  .credits, .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
  }

  .sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .brand {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    padding: 10px;
  }

  .credits {
    flex-flow: column;
    margin: 15px;
  }

  .footer.credits p{
    text-align: left;
  }

  .footerlogo {
    margin: 20px;
  }


  .socials{
    display: flex;
    flex-flow: column;
    margin: 15px;
  }

  .social {
    font-size: 30px;
    margin: 0px 7.5px;
  }

  .footer p {
    margin: 0px;
  }

  .trademarkphrase {
    font-size: 60px;
  }
}

@media screen and (min-width: 660px) {
  .footer {
    grid-template-columns: 3fr 4fr;
  }
  .brand {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .sitemap {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .credits{
    grid-column: 2/3;
  }
  .socials{
    grid-column: 2/3;
    grid-row: 3/4;
    
  }
}

@media screen and (min-width: 960px) {
  .footer {
    grid-template-columns: 3fr 2fr 1fr;
  }
  .brand {
    grid-column: auto;
    grid-row: auto;
    flex-flow: row;
  }
  .sitemap {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .credits{
    grid-column: auto;
  }
  .socials{
    grid-column: auto;
    grid-row: auto;
    
  }
}
