.SubEventCard {
    padding: 20px;
    background-color: #eeeeee;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
}

.SubEvent {
    font-size: 1.5em;
}

.SubEventCard:hover {
    cursor: pointer;
}

.SubEventDesc {
    padding: 20px;
    background-color: #dddddd;
    margin: 0 40px 20px 40px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald';
}

.SubEventStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 20px;
    max-width: 1000px;
}

.Desc {
    font-size: 1em;
}


.StatHeader {
    color: #497c99;
    font-size: 4vw;
}

.StatDesc {
    font-size: 3vw;
}

.SubEventStats p {
    padding: 0px;
    margin: 0px;
}

.StatIcon {
    font-size: 45px;
    color: #497c99;
    padding: 5px;
    text-align: center;
}

@media screen and (min-width: 321px) {
    .SubEventCard {
        padding: 20px;
        background-color: #eeeeee;
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Oswald';
    }

    .SubEvent {
        font-size: 1.5em;
    }

    .SubEventCard:hover {
        cursor: pointer;
    }

    .SubEventDesc {
        padding: 20px;
        background-color: #dddddd;
        margin: 0 40px 20px 40px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Oswald';
    }

    .SubEventStats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        margin: 20px;
        max-width: 1000px;
    }

    .Desc {
        font-size: 1em;
    }

    .StatHeader {
        color: #497c99;
        font-size: 1.1em;
    }

    .StatDesc {
        font-size: 1em;
    }

    .lastStat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/4;
    }

    .lastStat div{
        grid-column: span 1;
    }

    .SubEventStats p {
        padding: 0px;
        margin: 0px;
    }

    .StatIcon {
        font-size: 45px;
        margin: 10px;
        color: #497c99;
        text-align: center;
    }
}

.SubEventCardDesc, .SubEventCardDistrict, .SubEventCardState, .SubEventCardSuccess, .SubEventCardResources {
    display: none;
}


@media screen and (min-width: 660px) {

    .SubEvent {
        font-size: 1.75em;
    }

    .StatIcon {
        font-size: 75px;
        text-align: center;
    }

    .lastStat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 1/4;
    }

    .lastStat div{
        grid-column: span 1;
    }

    .SubEventStats {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Desc {
        font-size: 1.3em;
    }

    .StatHeader {
        font-size: 1.2em;
    }

    .StatDesc {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 960px) {

    .SubEvent {
        font-size: 2em;
    }

    .StatIcon {
        font-size: 65px;
        text-align: center;
    }

    .SubEventStats {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .lastStat {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 4/7;
    }

    .lastStat div{
        grid-column: span 1;
    }

    .Desc {
        font-size: 1.5em;
    }

    .StatHeader {
        font-size: 1.4em;
    }

    .StatDesc {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    
    .SubEventDesc {
        display: none;
    }

    .SubEvent {
        font-size: 1.75em;
        color: #497c99;
    }

    .SubEventCard {
        /* pointer-events: none; */
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 15px;
        
    }

    .lastStat {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .SubEventCardDesc, .SubEventCardDistrict, .SubEventCardState, .SubEventCardSuccess, .SubEventCardResources {
        display: flex;
        justify-content: center;
    }

    .SubEventCardDesc {
        font-size: 1.25em;
        padding: 10px;
    }

    .SubEventCardIcons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        gap: 15px;
    }
}

