.CareerSubEventCard {
    padding: 20px;
    background-color: #eeeeee;
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald';
}

.CareerSubEvent {
    font-size: 1.5em;
}

.CareerSubEventCard:hover {
    cursor: pointer;
}

.CareerSubEventDesc {
    padding: 20px;
    background-color: #dddddd;
    margin: 0 40px 20px 40px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald';
}

.CareerSubEventStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 20px;
    max-width: 1000px;
}

.CareerDesc {
    font-size: 1em;
}


.CareerStatHeader {
    color: #497c99;
    font-size: 4vw;
}

.CareerStatDesc {
    font-size: 3vw;
}

.CareerSubEventStats p {
    padding: 0px;
    margin: 0px;
}

.CareerStatIcon {
    font-size: 45px;
    color: #497c99;
    padding: 5px;
}

@media screen and (min-width: 321px) {
    .CareerSubEventCard {
        padding: 20px;
        background-color: #eeeeee;
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Oswald';
    }

    .CareerSubEvent {
        font-size: 1.5em;
    }

    .CareerSubEventCard:hover {
        cursor: pointer;
    }

    .CareerSubEventDesc {
        padding: 20px;
        background-color: #dddddd;
        margin: 0 40px 20px 40px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Oswald';
    }

    .CareerSubEventStats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        width: 100%;
        margin: 20px;
        max-width: 1000px;
    }

    .CareerDesc {
        font-size: 1em;
    }

    .CareerSubEventStats div {
        /* margin: 10px; */
        /* border: 2px solid black; */
    }

    .CareerStatHeader {
        color: #497c99;
        font-size: 1.1em;
    }

    .CareerStatDesc {
        font-size: 1em;
    }

    .CareerlastStat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/4;
        gap: 10px;
    }

    .CareerSubEventStats p {
        padding: 0px;
        margin: 0px;
    }

    .CareerStatIcon {
        font-size: 40px;
        margin: 10px;
        color: #497c99;
    }
}

.CareerSubEventCardDesc, .CareerSubEventCardDistrict, .CareerSubEventCardState, .CareerSubEventCardSuccess, .CareerSubEventCardResources, .CareerSubEventCardPIS {
    display: none;
}


@media screen and (min-width: 660px) {

    .CareerSubEvent {
        font-size: 1.75em;
    }

    .CareerStatIcon {
        font-size: 55px;
    }

    .CareerlastStat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2/4;
        gap: 10px;
    }

    .CareerSubEventStats {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .CareerDesc {
        font-size: 1.3em;
    }

    .CareerStatHeader {
        font-size: 1.1em;
    }

    .CareerStatDesc {
        font-size: 1em;
    }
}

@media screen and (min-width: 960px) {

    .CareerSubEvent {
        font-size: 2em;
    }

    .CareerSubEventStats {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .CareerStatIcon {
        font-size: 55px;
    }

    .CareerDesc {
        font-size: 1.5em;
    }

    .CareerStatHeader {
        font-size: 1.4em;
    }

    .CareerStatDesc {
        font-size: 1.2em;
    }

    .CareerlastStat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 5/7;
        gap: 10px;
    }
}

@media screen and (min-width: 1200px) {
    
    .CareerSubEventDesc {
        display: none;
    }

    .CareerSubEvent {
        font-size: 1.75em;
        color: #497c99;
    }

    .CareerSubEventCard {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        gap: 15px;
        justify-content: flex-start;
    }

    #PIembed:hover {
        color: black;
    }

    .CareerlastStat {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .CareerSubEventCardDesc, .CareerSubEventCardDistrict, .CareerSubEventCardState, .CareerSubEventCardSuccess, .CareerSubEventCardResources, .CareerSubEventCardPIS {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CareerSubEventCardDesc {
        font-size: 1.25em;
        padding: 10px;
    }

    .CareerSubEventCardIcons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: flex-start;
        gap: 15px;
    }
}

